.list-course-page{
    display: flex;
    .search-filter{
        margin-top: 44px;
        width: 15%;
        height: 600px;
        margin-right: 16px;
    }

    .list-course{
        width: 100%;
        .list-course-header{
            width: 100%;
            display: flex;
            margin-bottom: 24px;
            margin-top: 40px;
            .list-course-title{
                width: 80%;
                font-size: 24px;
            }
        }
        .item{
            margin: 4px;
            border-radius: unset;
            img{
                border-radius: unset;
            }
        }
        .ant-row{
            min-height: 650px;
        }
        .list-course-pagination{
            display: flex;
            justify-content: center;
            padding-top: 16px;
        }
    }
       
}